<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="HearX Logo"
    src="http://hearxgroup.com/assets/logo-hearx-light-9aa97dab2713c410b8e91e5c3686a9ec5305f9f9fc609301eeba63b0f23beb37.png"
  />
  <span>Technical Test</span>
  <div class="spacer"></div>
  <p class="pr-3">Godwill Moolman</p>
</div>
<div class="content" role="main">
  <div class="card highlight-card card-small">
    <h1> <i class="material-icons md-48">shopping_cart</i> hearX Shop</h1>
  </div>
  <app-products></app-products>
</div>




